.banner-img {
    mask-image: url(https://www.ombrulla.com/images/home/mask-banner.png);
    mask-size: cover;
    width: 280px;
    height: 286px;
  }
@media (min-width: 1280px) {
  .banner-img {
    width: 500px;
    height: 506px;
  }
}

